:root {
  font-family: 'Outfit';
  line-height: 1.5;
  font-weight: 400;

  /*--orange: #CD5C08;
  --beige: rgb(249, 234, 206);
  --pink: #FFCFB3;
  --light-green: #C1D8C3;
  --dark-green: #6A9C89;
  --white: #FAF7F0;*/

  --orange: rgb(205, 92, 8);
  --light-orange: rgb(255, 165, 90);
  --beige: rgb(249, 234, 206);
  --pink: rgb(255, 207, 179); 
  --light-green: rgb(193, 216, 195);
  --dark-green: rgb(106, 156, 137); 
  --white: rgb(250, 247, 240); 
  --red: #A04747;

  --orange-rgb: 205, 92, 8; 
  --beige-rgb: 249, 234, 206;
  --pink-rgb: 255, 207, 179;
  --light-green-rgb: 193, 216, 195;
  --dark-green-rgb: 106, 156, 137;
  --white-rgb: 250, 247, 240;
  

  --orage-svg: invert(35%) sepia(98%) saturate(870%) hue-rotate(357deg) brightness(96%) contrast(98%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

