.invitation-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.1);
    color: var(--orange);
    transition: width 2s, height 4s;
}

.invitation-dropdown {
    position: absolute;
    top: 8%;
    right: 0;
    width: 400px;
    background-color: var(--orange);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: flex;
    flex-direction: column; 
}

.invitation-list-container {
    display: flex; 
    margin: 0.5rem;
    background-color: var(--beige);
    color: var(--orange);
    border-radius: 5px 5px 10px 10px;
}

.invitation-div {
    width: 100%; 
    margin: 0 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--red);
}

.acceptInvitation-button {
    background-color: var(--dark-green);   
    margin-right: 1rem;
}

.declineInvitation-button {
    background-color: var(--red);
    margin: 0;
}

.invitationButton {
    color: var(--white);  
}
