.project-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 1rem;
  margin: 0;
  border: 0;
}

.project-title {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;   
  justify-content: flex-start; 
}

.project-title h1 {
  align-self: flex-start;
  margin: 0;
  color: var(--red);
}

.user-rol {
  padding: 0;
  margin: 0;
  color: var(--dark-green);
  font-size: 2rem;
}

.projectInfo-display {
  width: 100%; 
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.project-task {
  padding-left: 0.8rem;
  width: calc(100% - 1rem); 
  padding-bottom: 1rem;
}

.task-preview {
  width: 95%;
}

.expandMoreContainer {
  padding: 0;
  margin: 0;
  backgroundColor: var(--white);
  fill: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expand-button {
  background-color: var(--white);
  color: var(--dark-green);  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.8;
  
}
