.task-container {
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--light-green);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}

.pdLeft {
  padding-left: 1rem;
}

.task-title {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between; 
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  color: var(--dark-green);
  max-width: 90%;
}

.task-title h4 {
  margin: 0; 
  text-align: left; /* Ensure text within h4 is left-aligned */
}

.project-name {
  color: var(--red);
  padding-left: 1rem;
  font-size: 1rem; 
}

.task-dates {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task-dates p {
  margin: 0;
  padding: 0;
  font-size: 0.8rem; 
}

.task-descp {
  padding-left: 0.6rem;
  color: var(--dark-green);
  max-width: 90%;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.status-container {
  display: flex;
  flex-direction: flex-end;
}

.status {
  display: flex;
  flex-direction: row;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: default;
}

.tooltip .tooltiptext {
  visibility: hidden;
  padding: 0.25em 0.5em;
  background-color: var(--white); 
  text-align: center;
  border-radius: 0.25em;
  white-space: nowrap;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 100%;
  transition-property: visibility;
  transition-delay: 0s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transition-delay: 0.3s;
}

.pending {
  fill: var(--orange);
  color: var(--orange); 
}

.pending-border {
  border: 1px solid var(--orange);
}

.overdue {
  fill: red;
  color: red; 
}

.overdue-border {
  border: 1px solid red;
}

.done {
  fill: var(--dark-green);
  color: var(--dark-green); 
}

.done-border {
  border: 1px solid var(--dark-green);
}
