.todo-title {
  color: var(--red);
  margin: 0;
}

.todo-title h1 {
  margin: 0;
  padding: 0.7rem;
  padding-bottom: 1.7rem;
}

.page-grid {
  width: 100%;
  display: grid;
  heigth: 100%;
  background-color: var(--white);
  grid-template-columns: repeat(10, 1fr); 
}

.task {
  padding-left: 0.8rem;
  width: calc(100% - 1rem);
  paddgin-top: 10rem;
}

.tasks-container {
  grid-column: 1 / span 6; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.taskFilter-container {
  grid-column: auto / span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
}


