.user-container {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.user-title h1 {
  padding: 0.7rem;
  color: var(--red);
  margin: 0;
  border: 0;
}

.user-projects {
  padding: 0 2rem;
  margin-top: 2rem; 
}
.users-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
